:root{

  --bg: black;
  --fg: #FABE5E;

}
html{
  height: 100vh;
  scroll-behavior: smooth;
}
.body{
  min-height: calc( 100vh - 70px - 60px); 
  /* 
  100vh means 100% - 70px for header navbar - 60px for footer 
  */
}
.navbar{
  min-height: 70px;
}

.social a{
  font-size: x-large;
}

.b-brown{ background-color:var(--bg); }

.t-yellow a, .t-yellow, .t-yellow-no-hover, .nav-link span
{ color: var(--fg); }

.t-brown a, .t-brown{ 
  color: var(--bg); 
}

.t-yellow a:hover, .t-yellow:hover, .nav-link span:hover
{ 
  color: white; 
}

.t-brown a:hover, .t-brown:hover{ color: black; }

.nav-link span{
  font-size: large;
}

.card {
  margin: 16px auto;
  max-width: 33rem;
}

.text-act { 
  border-bottom: 3px solid var(--fg);
}

strong { 
  font-weight: bold;
}

.footer{
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
}