{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='logo.css') }}">
{% endblock style %}
{% block content %}
<div class = "container lead fs-4">
  <h1 class="display-4 mt-4 mb-3">
      <i class="fa fa-image t-yellow-no-hover"></i> Sunderbans Logo Competition!
  </h1>
  <hr class="solid">
  <p class="my-3">
    The competition to select a logo to represent Sunderbans House is underway!!! Upload your entry and your contribution has a chance to forever be associated with our House. <strong>All</strong> participants will receive <strong>certificates of recognition </strong>from the Sunderbans House Council. Further credentials await the winner! Submissions are open to <strong>all</strong> houses.
  </p>
  <p class="my-3">
    Submissions start: <strong>24th June</strong>
    <br>
    Last date:  <strong>1st July</strong>
  </p>
  <div class="clock">
    <span class="v" id="dayv"></span>
    <span class="t" id="dayt">D</span>
    <span class="v"id="hourv"></span>
    <span class="t"id="hourt">H</span>
    <span class="v" id="minv"></span>
    <span class="t" id="mint">M</span>
    <span class="v" id="secv"></span>
    <span class="t" id="sect">S</span>
    <span class="r" id="over">Submission time is up!</span>
  </div>

  <p class="my-3">
  The final logo will be chosen by <strong>voting</strong> among all members. Make sure to cast your vote in the appropriate form below.
  </p>
  <p class="my-3">
    Non members of Sunderbans House are free to caste their vote to make their preferences known. However please note that these votes will <strong class="text-danger">not be taken into consideration</strong> when declaring the winner.
  </p>
  <p>
    <strong class="fs-4 me-1 text-act">Share this</strong>
    <a target="_blank" class="share green fa fa-whatsapp" href="whatsapp://send?text={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-telegram" href="tg://msg_url?url={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-facebook" href="https://facebook.com/sharer/sharer.php/?u={{ sharelink }}&amp;quote={{ sharetext }}">
    </a>
  </p>
  <a href="https://forms.gle/P2ounPvj5nvG8L696" class="btn my-3 b-brown t-yellow" target="_blank" >
    <i class="fa fa-cloud-upload"></i> Upload Submission
  </a>
  <a href="#voteForm" class="btn my-3 b-brown t-yellow" role="button">
    <i class="fa fa-heart"></i>&nbspVote Here
  </a>
</div>
<div class="container">
  <h2 class="display-6 mt-4">Submissions</h2>
  <hr class="solid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for logo in logos %}
    <div class="col">
    <div class="card" id="sub{{logo.id}}">
      <a href="{{logo.ilink}}" target="_blank">
        <img class="card-img-top" src="{{logo.ilink}}" alt="thumbnail">
      </a>
      <div class="card-body">
        <p class="my-1 text-secondary">
          <i class="fa fa-heart"></i> <b> {{logo.tvote}}</b> 
            {% if logo.tvote - logo.votes %}
            (+{{ logo.votes - logo.tvote}} external)
            {% endif %}
        </p>
        <p class="my-auto fs-5">
          <i>{{logo.author}}</i>
        </p>
      </div>
      <div class="card-footer my-0 py-0">
        <p class="my-auto text-muted">
          Submission Number: {{logo.id}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% if not logos %}
  <br>
  <p class = "lead">No submissions yet :'-( ...</p>
  {% endif %}
</div>
<div class="container" id="voteForm">
  <br><br>
  <h2 class="display-6 mt-4">Vote Here</h2>
  <hr class="solid">
  <p>If the form doesn't load click <a class="t-brown" target="_blank" href="https://forms.gle/31fCs1Mge3kLWyXd6">here</a>.
  </p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezG0MiyvsHIJxOtiriN3P_0J_Ch-U6I6_2iaFzltlwBWciDg/viewform?embedded=true" width="100%" height = "640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='logo.js') }}"></script>
{% endblock script %}