{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='logo.css') }}">
{% endblock style %}
{% block content %}
<div class = "container lead fs-4">
  <h1 class="display-4 mt-4 mb-3">
      <i class="fa fa-image t-yellow-no-hover"></i> Sunderbans Logo Competition!
  </h1>
  <hr class="solid">
  <p class="my-3">
    Woohoo, Make way for the superbly talented winners of Sundarbans Logo Competition🎉🎉🎊🎊
<br>
    First place goes to <strong>Ayushi Choudhary</strong> who made the tiger roar in the classic combination of Black and Golden colour.
<br>
    And then comes our runner up <strong>Princi Mittal</strong> whose tiger gazed up on us from the forest of Sundarbans.
<br>
    As informed the winners have been selected on the basis of votes they got from Sundarbans family.
    Ayushi got the highest 28.1% and Princi at the second place got 18.8% votes.
<br>
    <strong>Certificates will be rolled out soon</strong>. 
    Special certificates will be given to the Winner and Runner up. Rest will get the participation certificate.
<br>
    <strong class="text-danger">Congratulations to all the participants and thank you for participating.</strong>
  </p>

  <div class="pic">
    <img src="https://i.imgur.com/Rl5wLd2.jpg" alt="winners" class="announce mt-5 mb-5">
  </div>
  
  <p>
    <strong class="fs-4 me-1 text-act">Share this</strong>
    <a target="_blank" class="share green fa fa-whatsapp" href="whatsapp://send?text={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-telegram" href="tg://msg_url?url={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-facebook" href="https://facebook.com/sharer/sharer.php/?u={{ sharelink }}&amp;quote={{ sharetext }}">
    </a>
  </p>
  
</div>
<div class="container">
  <h2 class="display-6 mt-4">Winner</h2>
  <hr class="solid">
  <div class="card" id="subwin">
    <a href="https://i.imgur.com/pZoBN58.png" target="_blank">
      <img class="card-img-top" src="https://i.imgur.com/pZoBN58.png" alt="thumbnail">
    </a>
    <div class="card-body">
      <p class="my-auto fs-5">
        <i>Ayushi Choudhary</i>
      </p>
    </div>
    <div class="card-footer my-0 py-0">
      <p class="my-auto text-muted">
        28.1% votes
      </p>
    </div>
  </div>
  <h2 class="display-6 mt-4">Runner Up</h2>
  <hr class="solid">
  <div class="card" id="subrun">
    <a href="https://i.imgur.com/tnuIMhZ.png" target="_blank">
      <img class="card-img-top" src="https://i.imgur.com/tnuIMhZ.png" alt="thumbnail">
    </a>
    <div class="card-body">
      <p class="my-auto fs-5">
        <i>Princi Mittal</i>
      </p>
    </div>
    <div class="card-footer my-0 py-0">
      <p class="my-auto text-muted">
        18.8% votes
      </p>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="display-6 mt-4">Submissions</h2>
  <hr class="solid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for logo in logos %}
    <div class="col">
    <div class="card" id="sub{{logo.id}}">
      <a href="{{logo.ilink}}" target="_blank">
        <img class="card-img-top" src="{{logo.ilink}}" alt="thumbnail">
      </a>
      <div class="card-body">
        <p class="my-1">
          {% if logo.tvote %}
          <span class="fs-5 gold">
            <i class="fa fa-heart"></i><b> {{logo.tvote}}</b>
          </span>
            {% if logo.votes - logo.tvote %}
            (+{{ logo.votes - logo.tvote}} external)
            {% endif %}
          {% else %}
          <span class="fs-5" >
            <i class="fa fa-heart-o"></i>
          </span>
          {% endif %}
        </p>
        <p class="my-auto fs-5">
          <i>{{logo.author}}</i>
        </p>
      </div>
      <div class="card-footer my-0 py-0">
        <p class="my-auto text-muted">
          Submission Number: {{logo.id}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% if not logos %}
  <br>
  <p class = "lead">No submissions yet :'-( ...</p>
  {% endif %}
</div>

{% endblock content %}

{% block script %}
{% endblock script %}