{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='photocon.css') }}">
{% endblock style %}
{% block content %}
<div class = "container lead fs-4">
  <h1 class="display-4 mt-4 mb-3">
      <i class="fa fa-camera t-yellow-no-hover"></i> Enigma
  </h1>
  <hr class="solid">
  <p class="my-3">
    Say Cheese! Sunderbans House is proud to showcase the lens action of our budding photographers.
  </p>
  <p class="my-3">
    Upload your entries to use your photographic talents to make our house stand out. 
  </p>
  <p class="my-3">
    <strong>Topic:</strong> <em>Reflection</em>
  </p>
  <p class="my-3">
    <strong>Winners will be mentioned on our social media!</strong>
  </p>
  <p class="my-3">
    <strong class="text-danger">Submission Deadline: 23<sup>rd</sup> August</strong> (over)
  </p>
  <p class="my-3">
    <strong class="text-danger">Voting Deadline: 25<sup>th</sup> August</strong> (over)
  </p>
  
  <div class="clock">
    <span class="dayv" id="dayv"></span>
    <span class="dayt" id="dayt">D</span>
    <span class="hourv"id="hourv"></span>
    <span class="hourt"id="hourt">H</span>
    <span class="minv" id="minv"></span>
    <span class="mint" id="mint">M</span>
    <span class="secv" id="secv"></span>
    <span class="sect" id="sect">S</span>
    <span class="over" id="over">Winners are declared!</span>
  </div>


  <p class="my-3">
    <a href="#vote" class="btn b-brown t-yellow">
      <i class="fa fa-plus"></i>
      Vote</a>
      <a href="https://forms.gle/1Ho4dHe9fXdU4mMK6" target="_blank" class="btn b-brown t-yellow">
      <i class="fa fa-cloud-upload"></i>
      Upload Submission</a>
  </p>

  <p>
    <strong class="fs-4 me-1 text-act">Share this</strong>
    <a target="_blank" class="share green fa fa-whatsapp" href="whatsapp://send?text={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-telegram" href="tg://msg_url?url={{ sharetext }}">
    </a>
    <a target="_blank" class="share blue fa fa-facebook" href="https://facebook.com/sharer/sharer.php/?u={{ sharelink }}&amp;quote={{ sharetext }}">
    </a>
  </p>
  
</div>
<div class="container">
  <h2 class="display-6 mt-4">Winners</h2>
  <hr class="solid">
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <div class="col">
    <div class="card" id="winner">
      <a href="https://i.imgur.com/92EoqOg.jpg" target="_blank">
        <img class="card-img-top" src="https://i.imgur.com/92EoqOg.jpg" alt="thumbnail">
      </a>
      <div class="card-body">
        <p class="my-auto fs-5">
          <i>Finny Varghese</i>
        </p>
      </div>
      <div class="card-footer my-0 py-0">
        <p class="my-auto text-muted">
          Winner
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" id="winner">
      <a href="https://i.imgur.com/Jd3geOB.jpg" target="_blank">
        <img class="card-img-top" src="https://i.imgur.com/Jd3geOB.jpg" alt="thumbnail">
      </a>
      <div class="card-body">
        <p class="my-auto fs-5">
          <i>Kundi Sathvik Naidu</i>
        </p>
      </div>
      <div class="card-footer my-0 py-0">
        <p class="my-auto text-muted">
          Runner Up
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="display-6 mt-4">Submissions</h2>
  <hr class="solid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for photo in photos %}
    <div class="col">
    <div class="card" id="sub{{photo.id}}">
      <a href="{{photo.ilink}}" target="_blank">
        <img class="card-img-top" src="{{photo.ilink}}" alt="thumbnail">
      </a>
      <div class="card-body">
        <p class="my-1">
          {% if photo.tvote %}
          <span class="fs-5 gold">
            <i class="fa fa-heart"></i><b> {{photo.tvote}}</b>
          </span>
            {% if photo.votes - photo.tvote %}
            (+{{ photo.votes - photo.tvote}} external)
            {% endif %}
          {% else %}
          <span class="fs-5" >
            <i class="fa fa-heart-o"></i>
          </span>
          {% endif %}
        </p>
        <p class="my-auto fs-5">
          <i>{{photo.author}}</i>
        </p>
      </div>
      <div class="card-footer my-0 py-0">
        <p class="my-auto text-muted">
          Submission Number: {{photo.id}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% if not photo %}
  <br>
  <p class = "lead">No submissions yet :'-( ...</p>
  {% endif %}
</div>

<div class="container">
  <h2 class="display-6 mt-4" id="vote">Cast Your Vote Here</h2>
  <hr class="solid">
  <div class="form text-center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9gwHLdCTl8cI5kqxTw1zn9mfTjGn4EQs3xWRHgHeSBOKelw/viewform?embedded=true" width="100%" style="min-height: 600px"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>

{% endblock content %}

{% block script %}
<script src="{{url_for('static', filename='photocon.js')}}"></script>
{% endblock script %}